<div>
  <h1>Tu perfil</h1>
  <a href="/home"><button>Atras</button></a>
  <p>Nombre: {{user.first_name}}</p>
  <p>Apellido: {{user.last_name}}</p>
  <p>Email: {{user.email}}</p>
  <p>Edad: {{user.age}}</p>
  <p>Permisos: {{user.role}}</p>

  <a href="/api/users/logout"><button>Cerrar Sesion</button></a>
</div>